<!DOCTYPE html>
<html>
<head>
    <title>HALAMAN BELI</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <div class="card">
            <div class="card-body">
                <h1 class="card-title">Informasi Paket yang Ingin Dibeli:</h1>
                <p class="card-text">Nama: <span id="nama"><data></span></p>
                <p class="card-text">Harga: <span id="harga"><data></span></p>
                <p class="card-text">Resolusi Layar: <span id="resolusiLayar"><data></span></p>
                <p class="card-text">Dukungan Perangkat: <span id="dukunganPerangkat"><data></span></p>
                <p class="card-text">Premium: <span id="premium"><data></span></p>

                <form>
                    <div class="form-group">
                        <label for="metodePembayaran">Pilih Metode Pembayaran:</label>
                        <select class="form-control" id="metodePembayaran" name="metodePembayaran">
                            <option value="transferBank">Transfer Bank</option>
                            <option value="kartuKredit">Kartu Kredit</option>
                            <option value="eWallet">E-Wallet</option>
                        </select>
                    </div>
                    <button type="submit" class="btn btn-primary">Bayar</button>
                </form>
            </div>
        </div>
    </div>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>
