<!DOCTYPE html>
<html>
<head>
    <title>HALAMAN SERIES</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
</head>
<style>

    .header {
        background-color: #333;
        color: #fff;
        padding: 10px 0;
        text-align: center;
        font-size: 2em;
        font-weight: 300;
        letter-spacing: 1px;
      }
      
</style>
<body>
    <div class="header">Halaman Series</div>
    <div class="container">
        <div class="card">
            <div class="card-body">
                <h1 class="card-title">Judul: <span id="judul"><data></span></h1>
                <h2>Episode:</h2>
                <ul id="genre">
                    <li><nama_Episode_1></li>
                    <!-- Add more genres as needed -->
                </ul>
                <button class="btn btn-secondary">Unduh Tayangan</button>
                <button class="btn btn-success">Favorit Tayangan</button>

                <p class="card-text">Total View: <span id="totalView"><data></span></p>
                <p class="card-text">Rating Rata-Rata: <span id="rating"><data></span></p>
                <p class="card-text">Sinopsis: <span id="sinopsis"><data></span></p>

                <h2>Genre:</h2>
                <ul id="genre">
                    <li><nama_genre_1></li>
                    <!-- Add more genres as needed -->
                </ul>

                <p class="card-text">Asal Negara: <span id="asalNegara"><data></span></p>

                <h2>Pemain:</h2>
                <ul id="pemain">
                    <li><nama_pemain_1></li>
                    <!-- Add more pemain as needed -->
                </ul>

                <h2>Penulis Skenario:</h2>
                <ul id="penulisSkenario">
                    <li><nama_penulis_skenario_1></li>
                    <!-- Add more penulis skenario as needed -->
                </ul>

                <p class="card-text">Sutradara: <span id="sutradara"><data></span></p>

                    <button class="btn btn-success">Bagian Ulasan</button>
                <!-- Add review section here -->
            </div>
        </div>
    </div>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>
