<!DOCTYPE html>
{% block content %}
{% include 'navbar.html' %}
<html>
<head>
    <title>HALAMAN EPISODE</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <style>
        .header {
      background-color: #333;
      color: #fff;
      padding: 10px 0;
      text-align: center;
      font-size: 2em;
      font-weight: 300;
      letter-spacing: 1px;
    }
    </style>
</head>
<body>
    <div class="header">Halaman Episode</div>
    <div class="container">
        <div class="card">
            <div class="card-body">
                <h1 class="card-title">Judul: <span id="judul"><data></span></h1>
                    <h1 class="card-title">Sub Judul: <span id="judul"><data></span></h1>
                <button class="btn btn-primary">Tonton</button>

                <h2>Episode Lainnya:</h2>
                <ul id="genre">
                    <li><nama_genre_1></li>
                    <!-- Add more genres as needed -->
                </ul>

                <p class="card-text">Sinopsis Episode: <span id="sinopsis"><data></span></p>
                <p class="card-text">Durasi Episode: <span id="durasi"><data></span></p>
                    <p class="card-text">URL Episode: <a href="<data>"><data></a></p>
                <p class="card-text">Tanggal Rilis Episode: <span id="tanggalRilis"><data></span></p>

            </div>
        </div>
    </div>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>
