<!DOCTYPE html>
{% block content %}
{% include 'navbar.html' %}
<html>
<head>
    <title>DAFTAR KONTRIBUTOR</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <div class="card">
            <div class="card-body">
                <h1 class="card-title">DAFTAR KONTRIBUTOR</h1>
                <form>
                    <div class="form-group">
                        <label for="filter">Filter Pencarian Kontributor berdasarkan tipe:</label>
                        <select class="form-control" id="filter" name="filter">
                            <option value="sutradara">Sutradara</option>
                            <option value="pemain">Pemain</option>
                            <option value="penulisSkenario">Penulis Skenario</option>
                        </select>
                    </div>
                </form>

                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Nama</th>
                            <th>Tipe</th>
                            <th>Jenis Kelamin</th>
                            <th>Kewarganegaraan</th>
                        </tr>
                    </thead>
                    <tbody id="kontributorTableBody">
                        {% for kontributor in kontributor_sutradara %}
                        <tr data-tipe="sutradara">
                            <td>{{ kontributor.nama }}</td>
                            <td>{{ kontributor.tipe }}</td>
                            <td>{{ kontributor.jenis_kelamin }}</td>
                            <td>{{ kontributor.kewarganegaraan }}</td>
                        </tr>
                        {% endfor %}
                        {% for kontributor in kontributor_pemain %}
                        <tr data-tipe="pemain">
                            <td>{{ kontributor.nama }}</td>
                            <td>{{ kontributor.tipe }}</td>
                            <td>{{ kontributor.jenis_kelamin }}</td>
                            <td>{{ kontributor.kewarganegaraan }}</td>
                        </tr>
                        {% endfor %}
                        {% for kontributor in kontributor_penulis_skenario %}
                        <tr data-tipe="penulisSkenario">
                            <td>{{ kontributor.nama }}</td>
                            <td>{{ kontributor.tipe }}</td>
                            <td>{{ kontributor.jenis_kelamin }}</td>
                            <td>{{ kontributor.kewarganegaraan }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script>
        document.getElementById('filter').addEventListener('change', function() {
            var selectedValue = this.value;
            var rows = document.querySelectorAll('#kontributorTableBody tr');
            rows.forEach(function(row) {
                if (row.dataset.tipe === selectedValue || selectedValue === 'all') {
                    row.style.display = 'table-row';
                } else {
                    row.style.display = 'none'
                }
            });
        });
    </script>
</body>
</html>
{% endblock content %}
7