{% extends 'base.html' %}

{% block content %}
<div class="collapse" id="navbarToggleExternalContent" data-bs-theme="dark">
    <div class="bg-dark p-4">
        <h5 class="text-body-emphasis h4">Welcome to Pachilflix F-14, {{ username }}</h5>
        <div class="mt-4">
            <button class="btn btn-outline-light btn-lg btn-block mb-2" onclick="window.location.href='{% url 'fitur_abil:main' %}'">Main</button>
            <button class="btn btn-outline-light btn-lg btn-block mb-2" onclick="window.location.href='{% url 'fitur_abil:daftar_tayang' %}'">Daftar Tayangan</button>
            <button class="btn btn-outline-light btn-lg btn-block mb-2" onclick="window.location.href='{% url 'fitur_abil:daftar_kontributor' %}'">Daftar Kontributor</button>
            <button class="btn btn-outline-light btn-lg btn-block mb-2" onclick="window.location.href='{% url 'fitur_abil:langganan' %}'">Kelola Langganan</button>
            <a href="{% url 'logout' %}" class="btn btn-outline-light btn-lg btn-block mb-2">Log Out</a>
        </div>
    </div>
</div>
<nav class="navbar navbar-dark bg-dark">
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</nav>
{% endblock content %}
