{% extends 'base.html' %}

{% block content %}
<div class="collapse" id="navbarToggleExternalContent" data-bs-theme="dark">
    <div class="bg-dark p-4">
        <h5 class="text-body-emphasis h4">Welcome to Pachilflix</h5>
        <div class="mt-4">
            <a href="{% url 'login' %}" class="btn btn-outline-light btn-lg btn-block mb-2">Login</a>
        </div>
    </div>
</div>
<nav class="navbar navbar-dark bg-dark">
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</nav>
{% endblock content %}
